doctype html
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title fe-base

    | <!--(if target development)><link rel="stylesheet" href="/stylesheets/style.css"><![endif]-->
    | <!--(if target development)><script type='text/javascript' src='/socket.io/socket.io.js'></script><![endif]-->
    | <!--(if target development)><script type='text/javascript' data-main='/scripts/main' src='/bower_components/requirejs/require.js'></script><![endif]-->

    | <!--(if target production)><link rel="stylesheet" href="/style.css"><![endif]-->
    | <!--(if target production)><script type="text/javascript" src="/application.js"></script><![endif]-->

  body
    nav.top-bar(data-topbar='data-topbar')
      ul.title-area
        li.name
          h1
            a(href='#') My Site
        li.toggle-topbar.menu-icon
          a(href='#') Menu

      section.top-bar-section
        ul.right
          li.active
            a(href='#') Right Button Active
          li.has-dropdown
            a(href='#') Right Button Dropdown
            ul.dropdown
              li
                a(href='#') First link in dropdown
        ul.left
          li
            a(href='#') Left Nav Button

    .row.chat
      .large-3.columns
        .chat-column
          h4 Users:
          ul.chat-list
      .large-9.columns
        .chat-column
          h4#status.row.collapse.status
            | Your status: Offline
          hr
          ul.row.collapse.chat-window
          hr
          .row.collapse
            .small-10.columns
              input(id='msg_field' type='text', placeholder='Message')
            .small-2.columns
              a#send.button.postfix Send

    footer.row
      .large-12.columns
        hr
        .row
          .large-6.columns
            p © Copyright no one at all. Go to town.
