html
  margin: 0px auto
  padding: 0px

.chat
  height: 500px
  margin: 20px auto
  border: 1px solid #cfcfcf

  .columns
    height: 500px

  .chat-window
    height: 350px
    overflow: auto

  .chat-side
    box-sizing: border-box
    border-left: 1px solid #cfcfcf
