html
  margin: 0px auto
  padding: 0px

.chat
  height: 500px
  margin: 20px auto
  border: 1px solid #cfcfcf

  > .columns
    height: 500px
    padding: 0px

    &:first-child
      border-right: 1px solid #cfcfcf

  .chat-window
    box-sizing: border-box
    height: 305px
    overflow: auto
    font-size: 14px

    .name
      font-style: italic
      color: #666
      margin: 0 12px 0 0

  .chat-column
    padding: 20px
    box-sizing: border-box
